@font-face {
    font-family: "iconfont";
    src: url('./iconfont/iconfont.eot?t=1557732250031');
    /* IE9 */
    src: url('./iconfont/iconfont.eot?t=1557732250031#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABpgAAAKRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBJIE8ATYCJAMICwYABCAFhG0HMBviBREVjFOyHwm27YWUfC5LldBFOhPEwzq+eVh8AYcoJJhVSHS6JoTECiq67damDPdGRSiWRFUV3+UZ+Q3hQug4X6erVIWskG2AAIK8PnHvtAkUyHxAOc2x+FMXYLw1wL2wTVYgAXgq4tbspgbnIUAqlbQjQ4YNH0+MY08TQJYvWTSHuBDEcTETI4QNax3ZR0Cs2/UWCXuj78tPGolBCQy7ZvTCofMZ8KWXk2Obk81MD0iEQGCbA8CAdsBBxjcmR2KIyDBSk04tHKtS4EuvJAnMyFH/PCTELk8HoBzCZxJ54kctVwAc/Z3AxEl7gaenZ0WLnjyZ+PTppMePJzx6NNOVj4/5+Qc8ebIme8eRQnn6cdLj9xPYfGhtzpMPEx+9+9+0UU+dtk22MZBt9HPt9GndqJuQu7HHKj10WCFbDfkqIefwYVktqzC3aNvzu/H2MAqulP987E+c5vuVID7RZ3Tt+dST0f0betNoMgcAks32yzb/l7+h7d6ZkbOy+vyJ0xyAZ0mfE5E/2ewMc0N8RZfAPycaWOeGxNboPQiZS+nM+VEAX/KQYHtzeTNVW/CYdiEuiEQoERUwYurJTm9HQBq9ERKj7I9UbbrNafKwnCwFaPUmiGwfqExXYbJ9yU7/IVDoj1B2OVJNLG/PNI05NZixF5xgeIEbadGuRVRceUKzx57zkoh5Q95cBOqiKmc6XJCXWLDdTSOiQTPNcKTLMEaClcnjKIUVWduy1E1vKkaaE2UwhnoCTcDgBTgjstBBc6Eqnz9Bxi7qcQehznuD2MYNDmqFagC5Uy6DCI9yzebOaAihAY2RGTiSHUUnScDaPMpDI1GwE+KrVska6aHKYnv1/Ou2AKlsneYMM8LTYuyeJAAAAA==') format('woff2'), url('./iconfont/iconfont.woff?t=1557732250031') format('woff'), url('./iconfont/iconfont.ttf?t=1557732250031') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./iconfont/iconfont.svg?t=1557732250031#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconyonghu:before {
    content: "\e633";
}